body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}


.smart{
  border-collapse: collapse;
}

table, th, td{
  text-align: center;
  padding: 10px;
  color: gray;
  border: solid 2px black;
  border-radius: 20px;
  padding: 10px;
  
}